/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* {
  box-sizing: border-box;
}

/* $2: Estilos tipográficos */
img {
    max-width: 100%;
}

.logo {
    width: 13%;
    height: 100%;
    padding: 20px;
    float: left;
}

.menu1, .menu2, .menu3  {
    font-family: sans-serif;
    font-size: 12pt;
    padding: 20px;
    width: 17%;
    float: right;
   

   
}


 
    


/* $3: XXXX */
